@tablet-width: 768px;
@desktop-width: 1150px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
@mobile-width-only: 767px;

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
@white: #ffffff;
@black: #000000;
@green: #63d1bb;
@darkgrey: #444444;
@light-grey: #f1f1f1;
@medium-grey: #c7c7c7;
@border-grey: #ececec;
@dark-green: #46c1ae;
