.button {
  width: 260px;
  padding: 15px 0;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}
