.catalog__title-main {
  margin: 0;
  margin-bottom: 30px;
  padding: 70px 30px 75px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;
  border-top: 1px solid #ececec;
}

.catalog__list {
  margin: 0;
  padding: 0 30px;
  list-style: none;
}

.catalog__item {
  margin-bottom: 30px;
  border: 1px solid #ededed;
}

.catalog__image {
  display: block;
}

.catalog__wrapper {
  padding: 27px 30px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__title a {
  text-decoration: none;
  color: #000000;
}

.catalog__text {
  margin: 0;
  padding-bottom: 20px;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.catalog__column-price {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding-top: 20px;
  border-top: 1px solid #ececec;
}

.catalog__price {
  margin: 0;
  flex-basis: 75px;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
}

.catalog__button {
  flex-basis: 21px;
  padding: 0;
  background-color: transparent;
  border: none;

  &:hover .catalog__icon {
    fill: #63d1bb;
  }

  &:focus .catalog__icon {
    fill: #63d1bb;
  }

  &:active .catalog__icon {
    opacity: 0.3;
  }
}

.catalog__icon {
  fill: #d3d2d2;
}

@media (min-width: @tablet-width) {
  .catalog__title-main {
    position: relative;
    margin: 0;
    // margin-bottom: 80px;
    padding: 95px 50px 85px;
    font-size: 43px;
    line-height: 50px;
  }

  .catalog__title-main::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 768px;
    height: 24px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: 768px 24px;
  }

  .catalog__list {
    margin: 0;
    padding: 73px 50px 0;
  }

  .catalog__item {
    display: flex;
    width: 668px;
    margin-bottom: 52px;
  }

  .catalog__link {
    flex-basis: 334px;
  }

  .catalog__image {
    height: auto;
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 268px;
    justify-content: space-between;
    padding: 25px 30px 30px;
  }

  .catalog__title {
    font-size: 20px;
  }

  .catalog__text {
    padding-bottom: 0;
    font-size: 15px;
  }

  .catalog__column-price {
    width: 268px;
  }

  .catalog__price {
    flex-basis: 85px;
    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__title-main {
    margin: 0;
    padding: 90px 50px 120px;
    font-size: 53px;
    line-height: 57px;
  }

  .catalog__title-main::after {
    width: 1150px;
    height: 34px;
    background-size: cover;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    padding-top: 115px;
  }

  .catalog__item {
    flex-direction: column;
    width: 315px;
  }


  .catalog__wrapper {
    flex-basis: 145px;

    &:hover {
      box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
    }

    &:focus {
      box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    }
  }

  .catalog__column-price {
    width: 256px;
  }
}
