.catalog__title-main {
  margin: 0;
  margin-bottom: 30px;
  padding: 75px 30px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;
  border-top: 1px solid #ececec;
}

.catalog__list {
  margin:0;
  margin-bottom: 30px;
  padding: 0 30px;
  list-style: none;
}

.catalog__wrapper {
  padding-left: 28px;
  border: 1px solid #ededed;
}

.catalog__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.catalog__text {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  border-bottom: 1px solid #ececec;
}

.catalog__price {
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
}
