.contacts__title {
  // padding: 0 30px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__email {
  // padding: 0 30px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts__address {
  // padding: 0 30px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts__map {
  height: 457px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.contacts__button {
  font-size: 18px;
  line-height: 20px;
}

.contacts__write {
  // padding: 0 30px;
}
