.details {
  // padding: 30px;
}

.details__wrapper {
  // padding-bottom: 33px;
  border: 1px solid #ececec;
}

.details__title {
  // padding: 30px 42px 25px 90px;
  font-size: 17px;
  line-height: 24px;
}

.details__text {
  // padding: 34px 34px 30px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.details__button {
  font-size: 17px;
  line-height: 17px;
}

@media (min-width: @tablet-width) {
  .details__wrapper {
    display: flex;
    flex-direction: column;
  }

  .details__video {
    order: -1;
    background-image: url("../img/video-mobile@1x.jpg");
  }
}

@media (min-width: @desktop-width) {
  .details__wrapper {
    position: relative;
    margin-bottom: 105px;
    padding-left: 760px;
  }

  .details__video {
    position: absolute;
    top: 0;
    left: 0;
  }
}
