.details {
  padding: 0 30px;
}

.details__wrapper {
  padding-bottom: 35px;
  margin-bottom: 60px;
  border: 1px solid #ececec;
}

.details__title {
  margin: 0;
  padding: 25px 40px 25px 90px;
  font-size: 17px;
  line-height: 24px;
}

.details__video {
  position: relative;
  width: 260px;
  height: 150px;
  background-image: url("../img/video-mobile@1x.jpg");
}

.details__control {
  position: absolute;
  top: 20px;
  left: 80px;
  border: none;
  background-color: transparent;
}

.details__text {
  margin: 0;
  padding: 30px 40px 30px 35px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.details__button {
  width: 192px;
  margin: 0 35px;
  font-size: 17px;
  line-height: 17px;
}

@media (min-width: @tablet-width) {
  .details {
    padding: 0 50px;
  }

  .details__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
    padding-bottom: 45px;
  }

  .details__title {
    padding: 40px;
    padding-left: 105px;
    font-size: 20px;
  }

  .details__video {
    position: relative;
    order: -1;
    background-image: url("../img/video-mobile@1x.jpg");
  }

  .details__text {
    margin-bottom: 40px;
    padding: 0 40px;
    font-size: 15px;
    line-height: 30px;
  }

  .details__button {
    width: 585px;
    margin: 0 42px;
  }
}

@media (min-width: @desktop-width) {
  .details {
    padding: 0 100px;
  }

  .details__wrapper {
    position: relative;
    margin-bottom: 105px;
    padding-left: 682px;
  }

  .details__title {
    padding: 95px 55px 35px 80px;
  }

  .details__video {
    position: absolute;
    top: 0;
    left: 0;
  }

  .details__text {
    padding: 0 55px 0 80px;
  }

  .details__button {
    width: 230px;
    margin: 0 55px 0 80px;
  }
}
