.filter {
  padding: 0 30px;
}

.filter__legend {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 17px;
  color: #63d1bb;
}

.filter__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.filter__text {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.filter__button {
  font-size: 17px;
  line-height: 17px;
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}
