.filter {
  // padding: 0 30px;
}

.filter__legend {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 17px;
  color: #63d1bb;
}

.filter__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.filter__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.filter__button {
  font-size: 17px;
  line-height: 17px;
}

@media (min-width: @tablet-width) {
  .filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 668px;
  }

  .filter__fieldset {
    flex-basis: 668px;
  }

  .filter__text {
    order: 2;
    flex-basis: 305px;
  }

  .filter__button {
    order: 1;
    flex-basis: 228px;
    padding: 20px 29px;
  }
}

@media (min-width: @desktop-width) {
  .filter {
    width: 1050px;
  }

  .filter__fieldset {
    flex-basis: 860px;
  }

  .filter__button {
    margin-left: 175px;
  }

  .filter__text {
    margin-right: 175px;
  }
}
