.filter__fieldset {
  padding: 0;
  border: none;
}

.filter__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 260px;
  padding: 0;
}

.filter__legend {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 17px;
  color: #63d1bb;
}

.filter__legend::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 62px;
  width: 198px;
  height: 1px;
  background: #63d1bb;
}

.filter__legend--email::after {
  width: 178px;
  left: 82px;
}

.filter__legend--ad {
  margin-bottom: 20px;
}

.filter__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter__list--type {
  padding: 30px 0 40px;
}

.filter__list--color {
  padding-top: 30px;
}

.filter__list--name {
  padding-top: 30px;
}

.filter__label {
  display: inline-block;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  cursor: pointer;
}

.filter__label--type {
  position: relative;
  padding: 10px 0 15px 60px;
}

.filter__label--type input[type="radio"] +
.radio-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 12px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #444444;
}

.filter__label--type input[type="radio"]:hover +
.radio-indicator {
  box-shadow: 0 0 0 2px #62d1ba;
}

.filter__label--type input[type="radio"]:focus +
.radio-indicator {
  box-shadow: 0 0 0 2px #62d1ba;
}

.filter__label--type input[type="radio"]:active +
.radio-indicator {
  box-shadow: 0 0 0 2px #c7c7c7;
}

.filter__label--type input[type="radio"]:checked +
.radio-indicator {
  background-color: #62d1ba;
}

.filter__label--type input[type="radio"]:disabled +
.radio-indicator {
  opacity: 0.3;
  box-shadow: 0 0 0 2px #c7c7c7;
}

.filter__label--color {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 0 15px 60px;
}

.filter__label--color:last-child {
  margin-bottom: 30px;
}

.filter__label--color input[type="checkbox"] +
.checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
}

.filter__label--color input[type="checkbox"]:focus +
.checkbox-indicator {
  border-color: #62d1ba;
}

.filter__label--color input[type="checkbox"]:hover +
.checkbox-indicator {
  border-color: #62d1ba;
}

.filter__label--color input[type="checkbox"]:active +
.checkbox-indicator {
  border-color: #c7c7c7;
}

.filter__label--color input[type="checkbox"]:checked +
.checkbox-indicator {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter__label--color input[type="checkbox"]:disabled +
.checkbox-indicator {
  opacity: 0.3;
  border-color: #c7c7c7;
}

.filter__input--name {
  width: 100%;
  margin-bottom: 25px;
  padding: 15px 0;
  border: none;
  border-bottom: 2px solid #000000;

  &:hover,
  &:focus,
  &:active {
    border-color: #62d1ba;
  }
}

.filter__input--tel,
.filter__input--email {
  margin-bottom: 35px;
  padding: 15px 45px 15px 0;
  border: none;
  border-bottom: 2px solid #000000;

  &:hover,
  &:focus,
  &:active {
    border-color: #62d1ba;
  }
}

.filter__icon--tel {
  position: absolute;
  top: 30px;
  right: 0;
  width: 24px;
  height: 25px;
  fill: #c6c6c6;
}

.filter__icon--email {
  position: absolute;
  top: 30px;
  right: 0;
  width: 32px;
  height: 21px;
  fill: #c6c6c6;
}

.filter__wishes {
  width: 260px;
  margin-bottom: 20px;
  padding: 10px 15px;
  border: 2px solid #444444;
  box-sizing: border-box;

  &:hover,
  &:focus,
  &:active {
    border-color: #62d1ba;
  }
}

.filter__text {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.filter__button {
  width: 260px;
  margin-bottom: 55px;
  font-size: 17px;
  line-height: 17px;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #c6c6c6;
}

:-moz-placeholder {
  color: #c6c6c6;
}

::-moz-placeholder {
  color: #c6c6c6;
}

:-ms-input-placeholder {
  color: #c6c6c6;
}

@media (min-width: @tablet-width) {
  .filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 768px;
  }

  .filter__wrapper {
    flex-direction: row;
    width: 668px;
    margin: 0;
    padding: 0 50px;
  }

  .filter__wrapper--type {
    margin-bottom: 65px;
  }

  .filter__wrapper--highlight {
    padding-top: 70px;
    padding-bottom: 25px;
    background-color: #f1f1f1;
  }

  .filter__wrapper--name {
    padding-top: 70px;
  }

  .filter__wrapper--tel {
    padding-top: 70px;
    background-color: #f1f1f1;
  }

  .filter__wrapper--email {
    background-color: #f1f1f1;
  }

  .filter__wrapper--ad {
    padding-top: 50px;
  }

  .filter__legend {
    width: 167px;
  }

  .filter__legend::after {
    display: none;
  }

  .filter__legend--ad {
    padding-top: 10px;
  }

  .filter__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 501px;
    padding: 0;
  }

  .filter__item--type:first-child {
    margin-bottom: 40px;
  }

  .filter__item--color {
    width: 240px;
    margin: 0;
    padding: 0;
  }

  .filter__item--name {
    display: flex;
    width: 501px;
    margin-bottom: 40px;
  }

  .filter__label {
    width: auto;
    font-size: 19px;
    line-height: 19px;
  }

  .filter__label--type {
    padding-left: 80px;
  }

  .filter__label--color {
    margin-bottom: 25px;
    padding-left: 80px;
  }

  .filter__label--name {
    margin-right: 25px;
  }

  .filter__input--name {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
  }

  .filter__input--tel {
    width: 501px;
    padding: 0;
    padding-bottom: 15px;
    background-color: #f1f1f1;
  }

  .filter__input--email {
    width: 501px;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    padding-bottom: 15px;
    background-color: #f1f1f1;
  }

  .filter__icon--tel {
    top: 70px;
    right: 50px;
  }

  .filter__icon--email {
    top: 0;
    right: 50px;
  }

  .filter__wishes {
    width: 501px;
    margin-bottom: 50px;
    padding-top: 10px;
  }

  .filter__text {
    order: 2;
    flex-basis: 305px;
    align-self: center;
    margin-bottom: 60px;
    margin-right: 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .filter__button {
    order: 1;
    flex-basis: 230px;
    margin-bottom: 50px;
    margin-left: 50px;
    padding: 20px 29px;
  }
}

@media (min-width: @desktop-width) {
  .filter {
    width: 1050px;
  }

  .filter__wrapper {
    width: 1050px;
  }

  .filter__wrapper--highlight {
    margin-bottom: 0;
  }

  .filter__legend {
    width: 115px;
    padding-left: 60px;
  }

  .filter__list {
    width: 700px;
    justify-content: flex-start;
  }

  .filter__list--type {
    width: 525px;
  }

  .filter__list--color {
    width: 875px;
  }

  .filter__item--name {
    width: 700px;
  }

  .filter__item--color {
    width: 260px;
  }

  .filter__label--color {
    padding-right: 20px;
  }

  .filter__input--tel {
    width: 700px;
  }

  .filter__input--email {
    width: 700px;
  }

  .filter__icon--tel {
    right: 225px;
  }

  .filter__icon--email {
    right: 225px;
  }

  .filter__wishes {
    width: 700px;
  }

  .filter__button {
    margin-left: 225px;
  }

  .filter__text {
    margin-right: 175px;
  }
}
