.modal {
  padding: 0 30px;
}

.modal__title {
  font-size: 25px;
  text-transform: uppercase;
  line-height: 30px;
}

.modal__text {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.modal__label {
  font-size: 17px;
  font-weight: bold;
  line-height: 17px;
  color: #444444;
}

.modal__button {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #63d1bb;
}
