.page-footer {
  padding: 0 30px;
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  display: none;
}

.page-footer__social {
  padding: 24px 0;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 183px;
  margin: 0 auto;
  padding: 24px 0;
}

.page-footer__text {
  width: 127px;
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-weight: bold;
  line-height: 19px;
}

.page-footer__logo {
  width: 27px;
}

.page-footer__icon {
  display: inline-block;
  width: 27px;
  height: 34px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
  }

  .page-footer__wrapper {
    display: block;
    width: 105px;
    margin: 0;
    padding: 0;
    padding: 50px 0 55px;
  }

  .page-footer__social {
    width: 143px;
    margin-left: 80px;
    padding: 55px 0;
  }

  .page-footer__copyright {
    flex-basis: 183px;
    margin: 0;
    padding: 55px 0 50px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__social {
    margin-left: 75px;
  }
}
