.page-footer {
  // padding: 0 30px;
  background-color: #f1f1f1;
}

.page-footer__text {
  font-size: 19px;
  font-weight: bold;
  line-height: 19px;
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}
