.popular {
  padding: 0 30px;
  margin-bottom: 35px;
}

.popular__title {
  margin: 0;
  margin-bottom: 5px;
  padding-top: 30px;
  font-size: 25px;
  line-height: 30px;
}

.popular__ad {
  margin: 0;
  margin-bottom: 25px;
  color: #63d1bb;
  font-weight: bold;
  text-transform: uppercase;
}

.popular__text {
  margin: 0;
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.popular__list {
  width: 100%;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  border-collapse: collapse;
}

.popular__field {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}

.popular__value {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}

.popular__image-wrapper {
  margin: 0;
  margin-bottom: 25px;
  padding:0;
}

.popular__price {
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: #444444;
}

.popular__button {
  width: 260px;
  font-size: 17px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .popular {
    padding: 0 50px;
  }

  .popular__header {
    display: flex;
    margin-bottom: 45px;
  }

  .popular__title {
    flex-basis: 540px;
    margin: 0;
    padding: 0;
    padding-top: 45px;
    text-align: left;
    font-size: 43px;
    line-height: 50px;
  }

  .popular__ad {
    flex-basis: 128px;
    margin: 0;
    padding-top: 60px;
    text-align: center;
    line-height: 17px;
  }

  .popular__content {
    position: relative;
    padding-right: 370px;
  }

  .popular__image-wrapper {
    position: absolute;
    top: 7px;
    right: 0;
    margin: 0;
  }

  .popular__text {
    width: 290px;
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }

  .popular__list {
    width: 290px;
    margin-bottom: 55px;
    line-height: 20px;
  }

  .popular__price {
    width: 290px;
    margin-bottom: 35px;
    font-size: 20px;
  }

  .popular__button {
    width: 292px;
  }
}

@media (min-width: @desktop-width) {
  .popular {
    position: relative;
    margin-bottom: 80px;
  }

  .popular__header {
    width: 1050px;
  }

  .popular__title {
    position: relative;
    z-index: 100;
    flex-basis: 870px;
    margin: 0;
    padding: 0;
    padding-top: 125px;
    padding-right: 50px;
    font-size: 53px;
    line-height: 57px;
    text-align: left;
  }

  .popular__ad {
    flex-basis: 75px;
    order: -1;
    margin: 0;
    padding: 0 50px;
    padding-top: 140px;
    line-height: 17px;
  }

  .popular__content {
    position: static;
    margin-left: 175px;
    padding-right: 580px;
  }

  .popular__image-wrapper {
    top: 68px;
    right: 50px;
    z-index: -5;
  }

  .popular__list {
    margin-bottom: 105px;
  }
}
