.products {
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
}

.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products__title {
  margin: 0;
  padding: 75px 0 120px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f9f9f9;
  border-top: 1px solid #ececec;
}

.products__link {
  display: block;
  padding: 25px 0 30px;
  padding-right: 184px;
}

.products__link--interior {
  color: #ffffff;
  background-color: #63d1bb;
  background-image: url("../../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: 215px 23px;
  text-decoration: none;
}

.products__link--toys {
  color: #ffffff;
  background-color: #56c3b2;
  background-image: url("../../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: 200px 20px;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .products__title {
    padding: 160px 0 370px;
  }

  .products__list {
    display: flex;
    justify-content: space-around;
  }

  .products__item {
    flex-basis: 334px;
  }

  .products__link {
    padding: 30px 184px 30px 35px;
    font-size: 20px;
    line-height: 30px;
  }

  .products__link--interior {
    background-position: 255px 30px;
  }

  .products__link--toys {
    background-position: 240px 30px;
  }
}

@media (min-width: @desktop-width) {
  .products__item {
    flex-basis: 525px;
  }

  .products__link {
    padding-right: 375px;
  }

  .products__link--interior {
    background-position: 450px 30px;
  }

  .products__link--toys {
    background-position: 430px 30px;
  }
}
