.products {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: center -15px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px 373px;
  }
}

.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products__title {
  margin: 0;
  padding: 70px 30px 125px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  border-top: 1px solid #ececec;
}

.products__link {
  position: relative;
  display: block;
  padding: 25px 184px 30px 30px;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
}

.products__link--interior {
  color: #ffffff;
  background-color: #63d1bb;
  text-decoration: none;

  &:active {
    color: #97e2d2;
    background-color: #59d5bc;
  }
}

.products__link--interior:hover .products__icon--interior,
.products__link--interior:focus .products__icon--interior {
  opacity: 0.7;
}

.products__link--interior:active .products__icon--interior {
  opacity: 0.3;
}

.products__link--interior span {
  position: absolute;
  top: 23px;
  left: 243px;
}

.products__icon--interior {
  fill: #37b29f;
}

.products__link--toys {
  color: #ffffff;
  background-color: #56c3b2;
  text-decoration: none;

  &:active {
    color: #8dd5c9;
    background-color: #46c1ae;
  }
}

.products__link--toys:hover
.products__icon--toys,
.products__link--toys:focus
.products__icon--toys {
  opacity: 0.7;
}

.products__link--toys:active
.products__icon--toys {
  opacity: 0.3;
}

.products__link--toys span {
  position: absolute;
  top: 20px;
  left: 233px;
}

.products__icon--toys {
  fill: #30ab9b;
}

@media (min-width: @tablet-width) {
  .products {
    position: relative;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center -5px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px 746px;
    }
  }

  .products::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 768px;
    height: 24px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: 768px 24px;
  }

  .products__title {
    padding: 150px 50px 375px;
    font-size: 43px;
    line-height: 50px;
  }

  .products__list {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
  }

  .products__item {
    flex-basis: 334px;
  }

  .products__link {
    padding: 30px 184px 35px 35px;
    font-size: 20px;
    line-height: 30px;

    &:hover {
      transform: translateY(-5px);
    }
  }

  .products__link--interior span {
    top: 30px;
    left: 255px;
  }

  .products__link--toys span {
    top: 30px;
    left: 240px;
  }
}

@media (min-width: @desktop-width) {
  .products {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: center -10px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px 746px;
    }
  }

  .products::after {
    width: 1150px;
    height: 34px;
    bottom: -15px;
    background-size: 1150px 34px;
    // background-size: cover;
    background-position: -45px 0;
  }

  .products__title {
    padding: 150px 50px 360px;
    font-size: 53px;
    line-height: 56px;
  }

  .products__list {
    padding-left: 50px;
    padding-right: 50px;
  }

  .products__item {
    flex-basis: 525px;
  }

  .products__link {
    padding-right: 375px;
  }

  .products__link--interior span {
    top: 30px;
    left: 450px;
  }

  .products__link--toys span {
    top: 30px;
    left: 430px;
  }
}
